<tr>
<td><a href="/wiki/Abyssinian_cat" title="Abyssinian cat">Abyssinian</a></td>
<td>Ethiopia</td>
<td>Natural/Standard</td>
<td></td>
<td>Short</td>
<td>Ticked</td>
<td><a href="/wiki/File:Gustav_chocolate.jpg" class="image"><img alt="Gustav chocolate.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Gustav_chocolate.jpg/100px-Gustav_chocolate.jpg" width="100" height="143" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Gustav_chocolate.jpg/150px-Gustav_chocolate.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Gustav_chocolate.jpg/200px-Gustav_chocolate.jpg 2x" data-file-width="1000" data-file-height="1427" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Aegean_cat" title="Aegean cat">Aegean</a></td>
<td>Greece</td>
<td>Natural/Standard</td>
<td></td>
<td>Semi-long</td>
<td>Bi- or tri-colored</td>
<td><a href="/wiki/File:Aegean_cat.jpg" class="image"><img alt="Aegean cat.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/51/Aegean_cat.jpg/100px-Aegean_cat.jpg" width="100" height="154" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/51/Aegean_cat.jpg/150px-Aegean_cat.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/51/Aegean_cat.jpg/200px-Aegean_cat.jpg 2x" data-file-width="772" data-file-height="1186" /></a></td>
</tr>
<tr>
<td><a href="/wiki/American_Curl" title="American Curl">American Curl</a></td>
<td>United States</td>
<td>Mutation</td>
<td></td>
<td>Short/Long</td>
<td>All</td>
<td><a href="/wiki/File:American_curl_2.jpg" class="image"><img alt="American curl 2.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/American_curl_2.jpg/100px-American_curl_2.jpg" width="100" height="71" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/American_curl_2.jpg/150px-American_curl_2.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/17/American_curl_2.jpg/200px-American_curl_2.jpg 2x" data-file-width="1268" data-file-height="904" /></a></td>
</tr>
<tr>
<td><a href="/wiki/American_Bobtail" title="American Bobtail">American Bobtail</a></td>
<td>United States</td>
<td>Mutation</td>
<td></td>
<td>Short/Long</td>
<td>All</td>
<td><a href="/wiki/File:American_bobtail_2.jpg" class="image"><img alt="American bobtail 2.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/88/American_bobtail_2.jpg/100px-American_bobtail_2.jpg" width="100" height="125" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/88/American_bobtail_2.jpg/150px-American_bobtail_2.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/88/American_bobtail_2.jpg/200px-American_bobtail_2.jpg 2x" data-file-width="988" data-file-height="1237" /></a></td>
</tr>
<tr>
<td><a href="/wiki/American_Shorthair" title="American Shorthair">American Shorthair</a></td>
<td>United States</td>
<td>Natural</td>
<td></td>
<td>Short</td>
<td>All but colorpoint</td>
<td><a href="/wiki/File:American_Shorthair.jpg" class="image"><img alt="American Shorthair.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/0c/American_Shorthair.jpg/100px-American_Shorthair.jpg" width="100" height="133" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/0c/American_Shorthair.jpg/150px-American_Shorthair.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/0c/American_Shorthair.jpg/200px-American_Shorthair.jpg 2x" data-file-width="1536" data-file-height="2048" /></a></td>
</tr>
<tr>
<td><a href="/wiki/American_Wirehair" title="American Wirehair">American Wirehair</a></td>
<td>United States</td>
<td>Mutation</td>
<td></td>
<td>Rex</td>
<td>All but colorpoint</td>
<td><a href="/wiki/File:American_Wirehair_-_CFF_cat_show_Heinola_2008-05-04_IMG_8721.JPG" class="image"><img alt="American Wirehair - CFF cat show Heinola 2008-05-04 IMG 8721.JPG" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/7f/American_Wirehair_-_CFF_cat_show_Heinola_2008-05-04_IMG_8721.JPG/100px-American_Wirehair_-_CFF_cat_show_Heinola_2008-05-04_IMG_8721.JPG" width="100" height="100" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/7f/American_Wirehair_-_CFF_cat_show_Heinola_2008-05-04_IMG_8721.JPG/150px-American_Wirehair_-_CFF_cat_show_Heinola_2008-05-04_IMG_8721.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/7f/American_Wirehair_-_CFF_cat_show_Heinola_2008-05-04_IMG_8721.JPG/200px-American_Wirehair_-_CFF_cat_show_Heinola_2008-05-04_IMG_8721.JPG 2x" data-file-width="802" data-file-height="798" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Cyprus_cat" title="Cyprus cat">Aphrodite's Giant</a></td>
<td>Cyprus</td>
<td>Natural</td>
<td>Lean and Muscular</td>
<td>All</td>
<td>All but cinammon and chocolate</td>
<td><a href="/wiki/File:Aphrodite%27s_Giant.jpg" class="image"><img alt="Aphrodite's Giant.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Aphrodite%27s_Giant.jpg/100px-Aphrodite%27s_Giant.jpg" width="100" height="75" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Aphrodite%27s_Giant.jpg/150px-Aphrodite%27s_Giant.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Aphrodite%27s_Giant.jpg/200px-Aphrodite%27s_Giant.jpg 2x" data-file-width="4608" data-file-height="3456" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Arabian_Mau" title="Arabian Mau">Arabian Mau</a></td>
<td>Arabian Peninsula</td>
<td>Natural</td>
<td></td>
<td>Short</td>
<td></td>
<td><a href="/wiki/File:3yoArabianMau.jpeg" class="image"><img alt="3yoArabianMau.jpeg" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/53/3yoArabianMau.jpeg/100px-3yoArabianMau.jpeg" width="100" height="75" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/53/3yoArabianMau.jpeg/150px-3yoArabianMau.jpeg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/53/3yoArabianMau.jpeg/200px-3yoArabianMau.jpeg 2x" data-file-width="3264" data-file-height="2448" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Australian_Mist" title="Australian Mist">Australian Mist</a></td>
<td>Australia</td>
<td>Crossbreed</td>
<td>Moderate</td>
<td>Short</td>
<td>Spotted and Classic tabby</td>
<td><a href="/wiki/File:Australian_Mist.jpg" class="image"><img alt="Australian Mist.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Australian_Mist.jpg/100px-Australian_Mist.jpg" width="100" height="102" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Australian_Mist.jpg/150px-Australian_Mist.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Australian_Mist.jpg/200px-Australian_Mist.jpg 2x" data-file-width="870" data-file-height="885" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Asian_cat" title="Asian cat">Asian</a></td>
<td>developed in the<br />
United Kingdom<br />
(founding stock<br />
from Asia)</td>
<td></td>
<td></td>
<td>Short</td>
<td>Evenly solid</td>
<td><a href="/wiki/File:BrownVarientAsianCat.JPG" class="image"><img alt="BrownVarientAsianCat.JPG" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a1/BrownVarientAsianCat.JPG/100px-BrownVarientAsianCat.JPG" width="100" height="133" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/a/a1/BrownVarientAsianCat.JPG/150px-BrownVarientAsianCat.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/a/a1/BrownVarientAsianCat.JPG/200px-BrownVarientAsianCat.JPG 2x" data-file-width="480" data-file-height="640" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Asian_Semi-longhair" title="Asian Semi-longhair">Asian Semi-longhair</a></td>
<td>United Kingdom</td>
<td>Crossbreed</td>
<td></td>
<td>Semi-long</td>
<td>Solid</td>
<td><a href="/wiki/File:Tiffanie_at_cat_show.jpg" class="image"><img alt="Tiffanie at cat show.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Tiffanie_at_cat_show.jpg/100px-Tiffanie_at_cat_show.jpg" width="100" height="121" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Tiffanie_at_cat_show.jpg/150px-Tiffanie_at_cat_show.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Tiffanie_at_cat_show.jpg/200px-Tiffanie_at_cat_show.jpg 2x" data-file-width="775" data-file-height="935" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Balinese_cat" title="Balinese cat">Balinese</a></td>
<td>developed in the<br />
United States<br />
(founding stock<br />
from Thailand)</td>
<td>Crossbreed</td>
<td>Oriental</td>
<td>Long</td>
<td>Colorpoint</td>
<td><a href="/wiki/File:Oskar.jpg" class="image"><img alt="Oskar.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Oskar.jpg/100px-Oskar.jpg" width="100" height="69" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Oskar.jpg/150px-Oskar.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Oskar.jpg/200px-Oskar.jpg 2x" data-file-width="1575" data-file-height="1080" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Bambino_cat" title="Bambino cat">Bambino</a></td>
<td>United States</td>
<td>Crossbreed</td>
<td></td>
<td>Hairless/Furry down</td>
<td></td>
<td></td>
</tr>
<tr>
<td><a href="/wiki/Bengal_cat" title="Bengal cat">Bengal</a></td>
<td>developed in the<br />
United States<br />
(founding stock<br />
from Asia)</td>
<td>Hybrid</td>
<td></td>
<td>Short</td>
<td>Spotted/Marbled</td>
<td><a href="/wiki/File:BengalCat_Stella.jpg" class="image"><img alt="BengalCat Stella.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9f/BengalCat_Stella.jpg/100px-BengalCat_Stella.jpg" width="100" height="53" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/9f/BengalCat_Stella.jpg/150px-BengalCat_Stella.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/9f/BengalCat_Stella.jpg/200px-BengalCat_Stella.jpg 2x" data-file-width="681" data-file-height="360" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Birman" title="Birman">Birman</a></td>
<td>developed in France<br />
(founding stock<br />
from Burma)</td>
<td>Natural</td>
<td></td>
<td>Semi Long</td>
<td>Colorpoint</td>
<td><a href="/wiki/File:Birman2.jpg" class="image"><img alt="Birman2.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Birman2.jpg/100px-Birman2.jpg" width="100" height="75" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Birman2.jpg/150px-Birman2.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Birman2.jpg/200px-Birman2.jpg 2x" data-file-width="604" data-file-height="453" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Bombay_cat" title="Bombay cat">Bombay</a></td>
<td>Crossbred</td>
<td>Moderate</td>
<td>Short</td>
<td>Solid</td>
<td></td>
<td><a href="/wiki/File:Bombay_cat.jpg" class="image"><img alt="Bombay cat.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/16/Bombay_cat.jpg/100px-Bombay_cat.jpg" width="100" height="86" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/16/Bombay_cat.jpg/150px-Bombay_cat.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/16/Bombay_cat.jpg/200px-Bombay_cat.jpg 2x" data-file-width="300" data-file-height="258" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Brazilian_Shorthair" title="Brazilian Shorthair">Brazilian Shorthair</a></td>
<td>Brazil</td>
<td>Natural</td>
<td></td>
<td>Short</td>
<td>All</td>
<td><a href="/wiki/File:Gato_pelo_curto_brasileiro.JPG" class="image"><img alt="Gato pelo curto brasileiro.JPG" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Gato_pelo_curto_brasileiro.JPG/100px-Gato_pelo_curto_brasileiro.JPG" width="100" height="133" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Gato_pelo_curto_brasileiro.JPG/150px-Gato_pelo_curto_brasileiro.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/87/Gato_pelo_curto_brasileiro.JPG/200px-Gato_pelo_curto_brasileiro.JPG 2x" data-file-width="480" data-file-height="640" /></a></td>
</tr>
<tr>
<td><a href="/wiki/British_Longhair" title="British Longhair">British Semi-longhair</a></td>
<td>United Kingdom</td>
<td></td>
<td>Cobby</td>
<td>Medium</td>
<td>All</td>
<td>
<p><a href="/wiki/File:British_Longhair_-_Black_Silver_Shaded.jpg" class="image"><img alt="British Longhair - Black Silver Shaded.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/British_Longhair_-_Black_Silver_Shaded.jpg/100px-British_Longhair_-_Black_Silver_Shaded.jpg" width="100" height="133" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/British_Longhair_-_Black_Silver_Shaded.jpg/150px-British_Longhair_-_Black_Silver_Shaded.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/50/British_Longhair_-_Black_Silver_Shaded.jpg/200px-British_Longhair_-_Black_Silver_Shaded.jpg 2x" data-file-width="768" data-file-height="1024" /></a></p>
</td>
</tr>
<tr>
<td><a href="/wiki/British_Shorthair" title="British Shorthair">British Shorthair</a></td>
<td>United Kingdom</td>
<td>Natural</td>
<td>Cobby</td>
<td>Short</td>
<td>All</td>
<td><a href="/wiki/File:Britishblue.jpg" class="image"><img alt="Britishblue.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Britishblue.jpg/100px-Britishblue.jpg" width="100" height="161" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Britishblue.jpg/150px-Britishblue.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Britishblue.jpg/200px-Britishblue.jpg 2x" data-file-width="924" data-file-height="1488" /></a></td>
</tr>
<tr>
<td><a href="/wiki/British_Longhair" title="British Longhair">British Longhair</a></td>
<td>United Kingdom</td>
<td></td>
<td>Cobby</td>
<td>Long</td>
<td></td>
<td><a href="/wiki/File:British_Longhair_-_Black_Silver_Shaded.jpg" class="image"><img alt="British Longhair - Black Silver Shaded.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/British_Longhair_-_Black_Silver_Shaded.jpg/100px-British_Longhair_-_Black_Silver_Shaded.jpg" width="100" height="133" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/British_Longhair_-_Black_Silver_Shaded.jpg/150px-British_Longhair_-_Black_Silver_Shaded.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/50/British_Longhair_-_Black_Silver_Shaded.jpg/200px-British_Longhair_-_Black_Silver_Shaded.jpg 2x" data-file-width="768" data-file-height="1024" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Burmese_cat" title="Burmese cat">Burmese</a></td>
<td>Burma and Thailand</td>
<td>Natural</td>
<td></td>
<td>Short</td>
<td>Solid</td>
<td><a href="/wiki/File:Blissandlucky11.jpg" class="image"><img alt="Blissandlucky11.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/04/Blissandlucky11.jpg/100px-Blissandlucky11.jpg" width="100" height="65" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/04/Blissandlucky11.jpg/150px-Blissandlucky11.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/04/Blissandlucky11.jpg/200px-Blissandlucky11.jpg 2x" data-file-width="410" data-file-height="268" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Burmilla" title="Burmilla">Burmilla</a></td>
<td>United Kingdom</td>
<td>Crossbreed</td>
<td></td>
<td>Short/Long</td>
<td></td>
<td><a href="/wiki/File:Male_Burmilla_cat.jpeg" class="image"><img alt="Male Burmilla cat.jpeg" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Male_Burmilla_cat.jpeg/100px-Male_Burmilla_cat.jpeg" width="100" height="90" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Male_Burmilla_cat.jpeg/150px-Male_Burmilla_cat.jpeg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Male_Burmilla_cat.jpeg/200px-Male_Burmilla_cat.jpeg 2x" data-file-width="471" data-file-height="423" /></a></td>
</tr>
<tr>
<td><a href="/wiki/California_Spangled" title="California Spangled">California Spangled</a></td>
<td>United States</td>
<td>Crossbreed</td>
<td></td>
<td>Short</td>
<td>Spotted</td>
<td><a href="/wiki/File:Star_Spangled_Cat.jpg" class="image"><img alt="Star Spangled Cat.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Spangled_Cat.jpg/100px-Star_Spangled_Cat.jpg" width="100" height="68" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Spangled_Cat.jpg/150px-Star_Spangled_Cat.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Spangled_Cat.jpg/200px-Star_Spangled_Cat.jpg 2x" data-file-width="450" data-file-height="306" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Chantilly-Tiffany" title="Chantilly-Tiffany">Chantilly-Tiffany</a></td>
<td>United States</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td><a href="/wiki/File:Tiffany3.jpg" class="image"><img alt="Tiffany3.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Tiffany3.jpg/100px-Tiffany3.jpg" width="100" height="101" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Tiffany3.jpg/150px-Tiffany3.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Tiffany3.jpg/200px-Tiffany3.jpg 2x" data-file-width="2901" data-file-height="2938" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Chartreux" title="Chartreux">Chartreux</a></td>
<td>France</td>
<td>Natural</td>
<td>Cobby</td>
<td>Short</td>
<td>Solid</td>
<td><a href="/wiki/File:Abbaye_fev2006_003.jpg" class="image"><img alt="Abbaye fev2006 003.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Abbaye_fev2006_003.jpg/100px-Abbaye_fev2006_003.jpg" width="100" height="150" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Abbaye_fev2006_003.jpg/150px-Abbaye_fev2006_003.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Abbaye_fev2006_003.jpg/200px-Abbaye_fev2006_003.jpg 2x" data-file-width="300" data-file-height="451" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Chausie" title="Chausie">Chausie</a></td>
<td>France</td>
<td>Hybrid</td>
<td></td>
<td>Short</td>
<td>Ticked</td>
<td><a href="/wiki/File:Chausiecatexample.jpg" class="image"><img alt="Chausiecatexample.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/61/Chausiecatexample.jpg/100px-Chausiecatexample.jpg" width="100" height="75" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/61/Chausiecatexample.jpg/150px-Chausiecatexample.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/61/Chausiecatexample.jpg/200px-Chausiecatexample.jpg 2x" data-file-width="800" data-file-height="600" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Cheetoh_cat" class="mw-redirect" title="Cheetoh cat">Cheetoh</a></td>
<td>United States</td>
<td>Hybrid Crossbreed</td>
<td></td>
<td>Short</td>
<td>Spotted</td>
<td><a href="/wiki/File:Cheetoh_cat_chilling.png" class="image"><img alt="Cheetoh cat chilling.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Cheetoh_cat_chilling.png/100px-Cheetoh_cat_chilling.png" width="100" height="56" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Cheetoh_cat_chilling.png/150px-Cheetoh_cat_chilling.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Cheetoh_cat_chilling.png/200px-Cheetoh_cat_chilling.png 2x" data-file-width="750" data-file-height="423" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Colorpoint_Shorthair" title="Colorpoint Shorthair">Colorpoint Shorthair</a></td>
<td></td>
<td></td>
<td></td>
<td>Short</td>
<td></td>
<td><a href="/wiki/File:Jake117.jpg" class="image"><img alt="Jake117.jpg" src="//upload.wikimedia.org/wikipedia/en/thumb/d/d5/Jake117.jpg/100px-Jake117.jpg" width="100" height="75" srcset="//upload.wikimedia.org/wikipedia/en/thumb/d/d5/Jake117.jpg/150px-Jake117.jpg 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/d/d5/Jake117.jpg/200px-Jake117.jpg 2x" data-file-width="432" data-file-height="324" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Cornish_Rex" title="Cornish Rex">Cornish Rex</a></td>
<td>United Kingdom (England)</td>
<td>Mutation</td>
<td></td>
<td>Rex</td>
<td>All</td>
<td><a href="/wiki/File:BebopsLilacPrince.JPG" class="image"><img alt="BebopsLilacPrince.JPG" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b8/BebopsLilacPrince.JPG/100px-BebopsLilacPrince.JPG" width="100" height="116" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/b/b8/BebopsLilacPrince.JPG/150px-BebopsLilacPrince.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/b8/BebopsLilacPrince.JPG/200px-BebopsLilacPrince.JPG 2x" data-file-width="245" data-file-height="283" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Cymric_cat" title="Cymric cat">Cymric</a>,<br />
or Manx Longhair</td>
<td>United Kingdom (Isle of Man)</td>
<td>Natural/Mutation</td>
<td></td>
<td>Long</td>
<td></td>
<td><a href="/wiki/File:Cymric_-_Norwegian_forest_cat_presentation_show_Kotka_2009-02-01_IMG_0687.JPG" class="image"><img alt="Cymric - Norwegian forest cat presentation show Kotka 2009-02-01 IMG 0687.JPG" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Cymric_-_Norwegian_forest_cat_presentation_show_Kotka_2009-02-01_IMG_0687.JPG/100px-Cymric_-_Norwegian_forest_cat_presentation_show_Kotka_2009-02-01_IMG_0687.JPG" width="100" height="105" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Cymric_-_Norwegian_forest_cat_presentation_show_Kotka_2009-02-01_IMG_0687.JPG/150px-Cymric_-_Norwegian_forest_cat_presentation_show_Kotka_2009-02-01_IMG_0687.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Cymric_-_Norwegian_forest_cat_presentation_show_Kotka_2009-02-01_IMG_0687.JPG/200px-Cymric_-_Norwegian_forest_cat_presentation_show_Kotka_2009-02-01_IMG_0687.JPG 2x" data-file-width="718" data-file-height="755" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Cyprus_cat" title="Cyprus cat">Cyprus</a></td>
<td>Cyprus</td>
<td>Natural</td>
<td>Lean and muscular</td>
<td>All</td>
<td>All</td>
<td><a href="/wiki/File:CyprusShorthair.jpg" class="image"><img alt="CyprusShorthair.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b9/CyprusShorthair.jpg/100px-CyprusShorthair.jpg" width="100" height="75" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/b/b9/CyprusShorthair.jpg/150px-CyprusShorthair.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/b9/CyprusShorthair.jpg/200px-CyprusShorthair.jpg 2x" data-file-width="1024" data-file-height="768" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Devon_Rex" title="Devon Rex">Devon Rex</a></td>
<td>United Kingdom (England)</td>
<td>Mutation</td>
<td>Oriental</td>
<td>Rex</td>
<td>All</td>
<td><a href="/wiki/File:Devon_Rex_Izzy.jpg" class="image"><img alt="Devon Rex Izzy.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Devon_Rex_Izzy.jpg/100px-Devon_Rex_Izzy.jpg" width="100" height="90" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Devon_Rex_Izzy.jpg/150px-Devon_Rex_Izzy.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Devon_Rex_Izzy.jpg/200px-Devon_Rex_Izzy.jpg 2x" data-file-width="2570" data-file-height="2304" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Donskoy_cat" title="Donskoy cat">Donskoy</a>,<br />
or Don Sphynx</td>
<td>Russia</td>
<td></td>
<td></td>
<td>Hairless</td>
<td></td>
<td><a href="/wiki/File:Cat_don_sphinx.JPG" class="image"><img alt="Cat don sphinx.JPG" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/21/Cat_don_sphinx.JPG/100px-Cat_don_sphinx.JPG" width="100" height="67" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/21/Cat_don_sphinx.JPG/150px-Cat_don_sphinx.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/21/Cat_don_sphinx.JPG/200px-Cat_don_sphinx.JPG 2x" data-file-width="3456" data-file-height="2304" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Dragon_Li" title="Dragon Li">Dragon Li</a></td>
<td>China</td>
<td>Natural</td>
<td></td>
<td>Short</td>
<td>Striped tabby</td>
<td><a href="/wiki/File:Dragon_Li_-_Li_Hua_Mau1.jpg" class="image"><img alt="Dragon Li - Li Hua Mau1.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Dragon_Li_-_Li_Hua_Mau1.jpg/100px-Dragon_Li_-_Li_Hua_Mau1.jpg" width="100" height="75" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Dragon_Li_-_Li_Hua_Mau1.jpg/150px-Dragon_Li_-_Li_Hua_Mau1.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Dragon_Li_-_Li_Hua_Mau1.jpg/200px-Dragon_Li_-_Li_Hua_Mau1.jpg 2x" data-file-width="240" data-file-height="180" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Dwarf_cat" title="Dwarf cat">Dwarf cat</a>,<br />
or Dwelf</td>
<td></td>
<td>Crossbreed</td>
<td></td>
<td></td>
<td>Hairless<sup class="noprint Inline-Template" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Accuracy_dispute#Disputed_statement" title="Wikipedia:Accuracy dispute"><span title="The material near this tag is possibly inaccurate or nonfactual. (February 2018)">dubious</span></a> <span class="metadata">– <a href="/wiki/Talk:List_of_cat_breeds#Dubious" title="Talk:List of cat breeds">discuss</a></span></i>]</sup></td>
<td><a href="/wiki/File:Munchkin_cat.jpg" class="image"><img alt="Munchkin cat.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Munchkin_cat.jpg/100px-Munchkin_cat.jpg" width="100" height="75" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Munchkin_cat.jpg/150px-Munchkin_cat.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Munchkin_cat.jpg/200px-Munchkin_cat.jpg 2x" data-file-width="3072" data-file-height="2304" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Egyptian_Mau" title="Egyptian Mau">Egyptian Mau</a></td>
<td>Egypt</td>
<td>Natural</td>
<td></td>
<td>Short</td>
<td>Spotted</td>
<td><a href="/wiki/File:Egy_mau.jpg" class="image"><img alt="Egy mau.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Egy_mau.jpg/100px-Egy_mau.jpg" width="100" height="50" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Egy_mau.jpg/150px-Egy_mau.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Egy_mau.jpg/200px-Egy_mau.jpg 2x" data-file-width="375" data-file-height="187" /></a></td>
</tr>
<tr>
<td><a href="/wiki/European_Shorthair" title="European Shorthair">European Shorthair</a></td>
<td>Finland and Sweden</td>
<td>Natural</td>
<td></td>
<td>Short</td>
<td></td>
<td><a href="/wiki/File:European_shorthair_procumbent_Quincy.jpg" class="image"><img alt="European shorthair procumbent Quincy.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5d/European_shorthair_procumbent_Quincy.jpg/100px-European_shorthair_procumbent_Quincy.jpg" width="100" height="67" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/5d/European_shorthair_procumbent_Quincy.jpg/150px-European_shorthair_procumbent_Quincy.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/5d/European_shorthair_procumbent_Quincy.jpg/200px-European_shorthair_procumbent_Quincy.jpg 2x" data-file-width="3872" data-file-height="2592" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Exotic_Shorthair" title="Exotic Shorthair">Exotic Shorthair</a></td>
<td>United States</td>
<td>Crossbreed</td>
<td>Cobby</td>
<td>Short</td>
<td>All</td>
<td><a href="/wiki/File:Cream_tabby_exotic_cat.jpg" class="image"><img alt="Cream tabby exotic cat.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Cream_tabby_exotic_cat.jpg/100px-Cream_tabby_exotic_cat.jpg" width="100" height="65" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Cream_tabby_exotic_cat.jpg/150px-Cream_tabby_exotic_cat.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Cream_tabby_exotic_cat.jpg/200px-Cream_tabby_exotic_cat.jpg 2x" data-file-width="368" data-file-height="238" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Foldex_cat" title="Foldex cat">Foldex</a><sup id="cite_ref-4" class="reference"><a href="#cite_note-4">[4]</a></sup></td>
<td>Canada</td>
<td>Crossbreed</td>
<td>Cobby</td>
<td>Short</td>
<td>All</td>
<td><a href="/wiki/File:Cachorro_de_Gato_FoldEx_(%22Belisario_del_Laberinto%22).JPG" class="image"><img alt="Cachorro de Gato FoldEx (&quot;Belisario del Laberinto&quot;).JPG" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Cachorro_de_Gato_FoldEx_%28%22Belisario_del_Laberinto%22%29.JPG/100px-Cachorro_de_Gato_FoldEx_%28%22Belisario_del_Laberinto%22%29.JPG" width="100" height="107" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Cachorro_de_Gato_FoldEx_%28%22Belisario_del_Laberinto%22%29.JPG/150px-Cachorro_de_Gato_FoldEx_%28%22Belisario_del_Laberinto%22%29.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Cachorro_de_Gato_FoldEx_%28%22Belisario_del_Laberinto%22%29.JPG/200px-Cachorro_de_Gato_FoldEx_%28%22Belisario_del_Laberinto%22%29.JPG 2x" data-file-width="2084" data-file-height="2232" /></a></td>
</tr>
<tr>
<td><a href="/wiki/German_Rex" title="German Rex">German Rex</a></td>
<td>East Germany</td>
<td>Mutation</td>
<td></td>
<td>Rex</td>
<td></td>
<td><a href="/wiki/File:German_Rex_Emi.jpg" class="image"><img alt="German Rex Emi.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/German_Rex_Emi.jpg/100px-German_Rex_Emi.jpg" width="100" height="129" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/German_Rex_Emi.jpg/150px-German_Rex_Emi.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/ff/German_Rex_Emi.jpg/200px-German_Rex_Emi.jpg 2x" data-file-width="268" data-file-height="345" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Havana_Brown" title="Havana Brown">Havana Brown</a></td>
<td>United Kingdom</td>
<td></td>
<td></td>
<td>Short</td>
<td>Solid</td>
<td><a href="/wiki/File:Havana_Brown.jpg" class="image"><img alt="Havana Brown.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Havana_Brown.jpg/100px-Havana_Brown.jpg" width="100" height="103" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Havana_Brown.jpg/150px-Havana_Brown.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Havana_Brown.jpg/200px-Havana_Brown.jpg 2x" data-file-width="915" data-file-height="947" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Highlander_cat" title="Highlander cat">Highlander</a></td>
<td>United States</td>
<td>Crossbreed</td>
<td>Moderate</td>
<td>Short/Long</td>
<td>All</td>
<td><a href="/wiki/File:Highlander-7.jpg" class="image"><img alt="Highlander-7.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Highlander-7.jpg/100px-Highlander-7.jpg" width="100" height="82" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Highlander-7.jpg/150px-Highlander-7.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/15/Highlander-7.jpg/200px-Highlander-7.jpg 2x" data-file-width="1036" data-file-height="848" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Himalayan_cat" title="Himalayan cat">Himalayan</a>,<br />
or Colorpoint Persian</td>
<td>United States/United Kingdom</td>
<td>Crossbreed</td>
<td>Cobby</td>
<td>Long</td>
<td>Colorpoint</td>
<td><a href="/wiki/File:Chocolate_Himlayan.jpg" class="image"><img alt="Chocolate Himlayan.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Chocolate_Himlayan.jpg/100px-Chocolate_Himlayan.jpg" width="100" height="60" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Chocolate_Himlayan.jpg/150px-Chocolate_Himlayan.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Chocolate_Himlayan.jpg/200px-Chocolate_Himlayan.jpg 2x" data-file-width="2832" data-file-height="1688" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Japanese_Bobtail" title="Japanese Bobtail">Japanese Bobtail</a></td>
<td>Japan</td>
<td>Natural</td>
<td>Moderate</td>
<td>Short/Long</td>
<td>All but colorpoint and ticked</td>
<td><a href="/wiki/File:JapaneseBobtailBlueEyedMi-ke.JPG" class="image"><img alt="JapaneseBobtailBlueEyedMi-ke.JPG" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/56/JapaneseBobtailBlueEyedMi-ke.JPG/100px-JapaneseBobtailBlueEyedMi-ke.JPG" width="100" height="72" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/56/JapaneseBobtailBlueEyedMi-ke.JPG/150px-JapaneseBobtailBlueEyedMi-ke.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/56/JapaneseBobtailBlueEyedMi-ke.JPG/200px-JapaneseBobtailBlueEyedMi-ke.JPG 2x" data-file-width="650" data-file-height="465" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Javanese_cat" title="Javanese cat">Javanese</a></td>
<td>United States</td>
<td>Crossbreed</td>
<td>Oriental</td>
<td>Long/Short</td>
<td>Colorpoint</td>
<td><a href="/wiki/File:Javanese_cat.jpg" class="image"><img alt="Javanese cat.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Javanese_cat.jpg/100px-Javanese_cat.jpg" width="100" height="133" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Javanese_cat.jpg/150px-Javanese_cat.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Javanese_cat.jpg/200px-Javanese_cat.jpg 2x" data-file-width="400" data-file-height="533" /></a></td>
</tr>
<tr>
<td><a href="/w/index.php?title=Karelian_Bobtail&amp;action=edit&amp;redlink=1" class="new" title="Karelian Bobtail (page does not exist)">Karelian Bobtail</a></td>
<td>Western Russia</td>
<td>Natural</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td><a href="/wiki/Khao_Manee" title="Khao Manee">Khao Manee</a></td>
<td>Thailand</td>
<td>Natural</td>
<td></td>
<td>Short</td>
<td>Solid</td>
<td><a href="/wiki/File:Khao_Manee_%22ChaWee%22.jpg" class="image"><img alt="Khao Manee &quot;ChaWee&quot;.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/98/Khao_Manee_%22ChaWee%22.jpg/100px-Khao_Manee_%22ChaWee%22.jpg" width="100" height="158" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/98/Khao_Manee_%22ChaWee%22.jpg/150px-Khao_Manee_%22ChaWee%22.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/98/Khao_Manee_%22ChaWee%22.jpg/200px-Khao_Manee_%22ChaWee%22.jpg 2x" data-file-width="1212" data-file-height="1916" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Korat" title="Korat">Korat</a></td>
<td>Thailand</td>
<td>Natural</td>
<td></td>
<td>Short</td>
<td>Solid</td>
<td><a href="/wiki/File:Veda,chat-adulte-m%C3%A2le-race-korat.JPG" class="image"><img alt="Veda,chat-adulte-mâle-race-korat.JPG" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Veda%2Cchat-adulte-m%C3%A2le-race-korat.JPG/100px-Veda%2Cchat-adulte-m%C3%A2le-race-korat.JPG" width="100" height="145" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Veda%2Cchat-adulte-m%C3%A2le-race-korat.JPG/150px-Veda%2Cchat-adulte-m%C3%A2le-race-korat.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Veda%2Cchat-adulte-m%C3%A2le-race-korat.JPG/200px-Veda%2Cchat-adulte-m%C3%A2le-race-korat.JPG 2x" data-file-width="850" data-file-height="1233" /></a></td>
</tr>
<tr>
<td><a href="/w/index.php?title=Korean_Bobtail&amp;action=edit&amp;redlink=1" class="new" title="Korean Bobtail (page does not exist)">Korean Bobtail</a></td>
<td>Korea</td>
<td>Natural</td>
<td></td>
<td>Short/Long</td>
<td>Colorprint</td>
<td></td>
</tr>
<tr>
<td><a href="/w/index.php?title=Korn_Ja&amp;action=edit&amp;redlink=1" class="new" title="Korn Ja (page does not exist)">Korn Ja</a></td>
<td>Thailand</td>
<td>Natural</td>
<td></td>
<td>Short/Hairless</td>
<td>Solid</td>
<td></td>
</tr>
<tr>
<td><a href="/wiki/Kurilian_Bobtail" title="Kurilian Bobtail">Kurilian Bobtail</a>,<br />
or Kuril Islands Bobtail</td>
<td>Eastern Russia,<br />
Japan</td>
<td>Natural</td>
<td>Semi-Cobby</td>
<td>Short/Long</td>
<td></td>
<td><a href="/wiki/File:Kurilian_bobtail.JPG" class="image"><img alt="Kurilian bobtail.JPG" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/82/Kurilian_bobtail.JPG/100px-Kurilian_bobtail.JPG" width="100" height="75" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/82/Kurilian_bobtail.JPG/150px-Kurilian_bobtail.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/82/Kurilian_bobtail.JPG/200px-Kurilian_bobtail.JPG 2x" data-file-width="2048" data-file-height="1536" /></a></td>
</tr>
<tr>
<td><a href="/wiki/LaPerm" title="LaPerm">LaPerm</a></td>
<td>United States</td>
<td>Mutation</td>
<td>Moderate</td>
<td>Rex</td>
<td>All</td>
<td><a href="/wiki/File:Laperm_LH_red_tabby.jpg" class="image"><img alt="Laperm LH red tabby.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Laperm_LH_red_tabby.jpg/100px-Laperm_LH_red_tabby.jpg" width="100" height="75" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Laperm_LH_red_tabby.jpg/150px-Laperm_LH_red_tabby.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Laperm_LH_red_tabby.jpg/200px-Laperm_LH_red_tabby.jpg 2x" data-file-width="587" data-file-height="439" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Lykoi" title="Lykoi">Lykoi</a></td>
<td>United States</td>
<td>Natural/Mutation</td>
<td></td>
<td>Partly Hairless</td>
<td>Ticked</td>
<td><a href="/wiki/File:8-month-old_male_Lykoi.jpg" class="image"><img alt="8-month-old male Lykoi.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1e/8-month-old_male_Lykoi.jpg/100px-8-month-old_male_Lykoi.jpg" width="100" height="132" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/1e/8-month-old_male_Lykoi.jpg/150px-8-month-old_male_Lykoi.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/1e/8-month-old_male_Lykoi.jpg/200px-8-month-old_male_Lykoi.jpg 2x" data-file-width="505" data-file-height="666" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Maine_Coon" title="Maine Coon">Maine Coon</a></td>
<td>United States</td>
<td>Natural</td>
<td>Large</td>
<td>Long</td>
<td>All but colorpoint and ticked</td>
<td><a href="/wiki/File:Maine_Coon_female.jpg" class="image"><img alt="Maine Coon female.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Maine_Coon_female.jpg/100px-Maine_Coon_female.jpg" width="100" height="100" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Maine_Coon_female.jpg/150px-Maine_Coon_female.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Maine_Coon_female.jpg/200px-Maine_Coon_female.jpg 2x" data-file-width="1362" data-file-height="1362" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Manx_cat" title="Manx cat">Manx</a></td>
<td>United Kingdom (Isle of Man)</td>
<td>Mutation</td>
<td></td>
<td>Short/Long</td>
<td>All but colorpoint</td>
<td><a href="/wiki/File:Japanese_Bobtail_looking_like_Manx.jpg" class="image"><img alt="Japanese Bobtail looking like Manx.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Japanese_Bobtail_looking_like_Manx.jpg/100px-Japanese_Bobtail_looking_like_Manx.jpg" width="100" height="70" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Japanese_Bobtail_looking_like_Manx.jpg/150px-Japanese_Bobtail_looking_like_Manx.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Japanese_Bobtail_looking_like_Manx.jpg/200px-Japanese_Bobtail_looking_like_Manx.jpg 2x" data-file-width="799" data-file-height="557" /></a></td>
</tr>
<tr>
<td><a href="/w/index.php?title=Mekong_Bobtail&amp;action=edit&amp;redlink=1" class="new" title="Mekong Bobtail (page does not exist)">Mekong Bobtail</a></td>
<td>Russia</td>
<td>Natural/Mutation</td>
<td></td>
<td>Short</td>
<td>Colorpoint</td>
<td><a href="/wiki/File:Mekong_bobtail_female,_Cofein_Pride_cattery.jpg" class="image"><img alt="Mekong bobtail female, Cofein Pride cattery.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/94/Mekong_bobtail_female%2C_Cofein_Pride_cattery.jpg/100px-Mekong_bobtail_female%2C_Cofein_Pride_cattery.jpg" width="100" height="116" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/94/Mekong_bobtail_female%2C_Cofein_Pride_cattery.jpg/150px-Mekong_bobtail_female%2C_Cofein_Pride_cattery.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/94/Mekong_bobtail_female%2C_Cofein_Pride_cattery.jpg/200px-Mekong_bobtail_female%2C_Cofein_Pride_cattery.jpg 2x" data-file-width="1500" data-file-height="1741" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Minskin" title="Minskin">Minskin</a></td>
<td>United States</td>
<td>Crossbreed</td>
<td>Semi-Cobby</td>
<td>Short/Hairless</td>
<td>All</td>
<td><a href="/wiki/File:Minskin_Kitten_Female_blue_tabby_color-pattern.jpg" class="image"><img alt="Minskin Kitten Female blue tabby color-pattern.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/73/Minskin_Kitten_Female_blue_tabby_color-pattern.jpg/100px-Minskin_Kitten_Female_blue_tabby_color-pattern.jpg" width="100" height="100" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/73/Minskin_Kitten_Female_blue_tabby_color-pattern.jpg/150px-Minskin_Kitten_Female_blue_tabby_color-pattern.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/73/Minskin_Kitten_Female_blue_tabby_color-pattern.jpg/200px-Minskin_Kitten_Female_blue_tabby_color-pattern.jpg 2x" data-file-width="618" data-file-height="618" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Munchkin_cat" title="Munchkin cat">Munchkin</a></td>
<td>United States</td>
<td>Mutation</td>
<td></td>
<td></td>
<td></td>
<td><a href="/wiki/File:Longhairedmunchkin.jpg" class="image"><img alt="Longhairedmunchkin.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Longhairedmunchkin.jpg/100px-Longhairedmunchkin.jpg" width="100" height="122" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Longhairedmunchkin.jpg/150px-Longhairedmunchkin.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Longhairedmunchkin.jpg/200px-Longhairedmunchkin.jpg 2x" data-file-width="450" data-file-height="551" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Nebelung" title="Nebelung">Nebelung</a></td>
<td>United States</td>
<td></td>
<td></td>
<td>Semi-long</td>
<td>Solid</td>
<td><a href="/wiki/File:Nebelung_Male,_Aleksandr_van_Song_de_Chine.JPG" class="image"><img alt="Nebelung Male, Aleksandr van Song de Chine.JPG" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Nebelung_Male%2C_Aleksandr_van_Song_de_Chine.JPG/100px-Nebelung_Male%2C_Aleksandr_van_Song_de_Chine.JPG" width="100" height="66" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Nebelung_Male%2C_Aleksandr_van_Song_de_Chine.JPG/150px-Nebelung_Male%2C_Aleksandr_van_Song_de_Chine.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Nebelung_Male%2C_Aleksandr_van_Song_de_Chine.JPG/200px-Nebelung_Male%2C_Aleksandr_van_Song_de_Chine.JPG 2x" data-file-width="567" data-file-height="377" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Napoleon_cat" class="mw-redirect" title="Napoleon cat">Napoleon</a></td>
<td></td>
<td></td>
<td></td>
<td>Long/short</td>
<td>Varied</td>
<td></td>
</tr>
<tr>
<td><a href="/wiki/Norwegian_Forest_cat" title="Norwegian Forest cat">Norwegian Forest cat</a></td>
<td>Norway</td>
<td>Natural</td>
<td></td>
<td>Long</td>
<td>All but colorpoint</td>
<td><a href="/wiki/File:Norskskogkatt_Evita_3.JPG" class="image"><img alt="Norskskogkatt Evita 3.JPG" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Norskskogkatt_Evita_3.JPG/100px-Norskskogkatt_Evita_3.JPG" width="100" height="98" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Norskskogkatt_Evita_3.JPG/150px-Norskskogkatt_Evita_3.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Norskskogkatt_Evita_3.JPG/200px-Norskskogkatt_Evita_3.JPG 2x" data-file-width="783" data-file-height="766" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Ocicat" title="Ocicat">Ocicat</a></td>
<td>United States</td>
<td>Crossbreed</td>
<td></td>
<td>Short</td>
<td>Spotted</td>
<td><a href="/wiki/File:Ocicat-Charan.jpg" class="image"><img alt="Ocicat-Charan.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/21/Ocicat-Charan.jpg/100px-Ocicat-Charan.jpg" width="100" height="97" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/21/Ocicat-Charan.jpg/150px-Ocicat-Charan.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/21/Ocicat-Charan.jpg/200px-Ocicat-Charan.jpg 2x" data-file-width="1338" data-file-height="1292" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Ojos_Azules" title="Ojos Azules">Ojos Azules</a></td>
<td>United States</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td><a href="/wiki/Oregon_Rex" title="Oregon Rex">Oregon Rex</a></td>
<td>United States</td>
<td>Mutation</td>
<td></td>
<td>Rex</td>
<td></td>
<td></td>
</tr>
<tr>
<td><a href="/wiki/Oriental_Bicolor" class="mw-redirect" title="Oriental Bicolor">Oriental Bicolor</a></td>
<td></td>
<td></td>
<td>Oriental</td>
<td></td>
<td>Bicolor</td>
<td><a href="/wiki/File:Oriental_shorthair_20070130_caroline.jpg" class="image"><img alt="Oriental shorthair 20070130 caroline.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Oriental_shorthair_20070130_caroline.jpg/100px-Oriental_shorthair_20070130_caroline.jpg" width="100" height="163" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Oriental_shorthair_20070130_caroline.jpg/150px-Oriental_shorthair_20070130_caroline.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Oriental_shorthair_20070130_caroline.jpg/200px-Oriental_shorthair_20070130_caroline.jpg 2x" data-file-width="275" data-file-height="448" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Oriental_Shorthair" title="Oriental Shorthair">Oriental Shorthair</a></td>
<td></td>
<td></td>
<td>Oriental</td>
<td>Short</td>
<td>All but colorpoint</td>
<td><a href="/wiki/File:Oriental_Shorthair_Blue_Eyed_White_cat_(juvenile).jpg" class="image"><img alt="Oriental Shorthair Blue Eyed White cat (juvenile).jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/91/Oriental_Shorthair_Blue_Eyed_White_cat_%28juvenile%29.jpg/100px-Oriental_Shorthair_Blue_Eyed_White_cat_%28juvenile%29.jpg" width="100" height="83" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/91/Oriental_Shorthair_Blue_Eyed_White_cat_%28juvenile%29.jpg/150px-Oriental_Shorthair_Blue_Eyed_White_cat_%28juvenile%29.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/91/Oriental_Shorthair_Blue_Eyed_White_cat_%28juvenile%29.jpg/200px-Oriental_Shorthair_Blue_Eyed_White_cat_%28juvenile%29.jpg 2x" data-file-width="412" data-file-height="344" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Oriental_Longhair" title="Oriental Longhair">Oriental Longhair</a></td>
<td></td>
<td></td>
<td>Oriental</td>
<td>Semi-long</td>
<td></td>
<td><a href="/wiki/File:OLH-GIP_Divan_Cesar.jpg" class="image"><img alt="OLH-GIP Divan Cesar.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/65/OLH-GIP_Divan_Cesar.jpg/100px-OLH-GIP_Divan_Cesar.jpg" width="100" height="99" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/65/OLH-GIP_Divan_Cesar.jpg/150px-OLH-GIP_Divan_Cesar.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/65/OLH-GIP_Divan_Cesar.jpg/200px-OLH-GIP_Divan_Cesar.jpg 2x" data-file-width="856" data-file-height="846" /></a></td>
</tr>
<tr>
<td><a href="/wiki/PerFold" class="mw-redirect" title="PerFold">PerFold</a> (Experimental Breed - WCF)</td>
<td>Europe</td>
<td>Crossbreed</td>
<td>Cobby</td>
<td>Long</td>
<td>All</td>
<td><a href="/wiki/File:PerFold_Cat_(%22Benito_del_Laberinto%22).jpg" class="image"><img alt="PerFold Cat (&quot;Benito del Laberinto&quot;).jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/55/PerFold_Cat_%28%22Benito_del_Laberinto%22%29.jpg/100px-PerFold_Cat_%28%22Benito_del_Laberinto%22%29.jpg" width="100" height="89" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/55/PerFold_Cat_%28%22Benito_del_Laberinto%22%29.jpg/150px-PerFold_Cat_%28%22Benito_del_Laberinto%22%29.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/55/PerFold_Cat_%28%22Benito_del_Laberinto%22%29.jpg/200px-PerFold_Cat_%28%22Benito_del_Laberinto%22%29.jpg 2x" data-file-width="430" data-file-height="382" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Persian_cat" title="Persian cat">Persian (Modern Persian Cat)</a></td>
<td>Iran (Persia)</td>
<td>Crossbreed</td>
<td>Cobby</td>
<td>Long</td>
<td>All</td>
<td><a href="/wiki/File:Persialainen.jpg" class="image"><img alt="Persialainen.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/81/Persialainen.jpg/100px-Persialainen.jpg" width="100" height="140" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/81/Persialainen.jpg/150px-Persialainen.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/81/Persialainen.jpg/200px-Persialainen.jpg 2x" data-file-width="357" data-file-height="500" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Traditional_Persian" title="Traditional Persian">Persian (Traditional Persian Cat)</a></td>
<td><a href="/wiki/Greater_Iran" title="Greater Iran">Greater Iran</a></td>
<td>Natural</td>
<td>Cobby</td>
<td>Long</td>
<td>All</td>
<td><a href="/wiki/File:SnowyandHazy.jpg" class="image"><img alt="SnowyandHazy.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/67/SnowyandHazy.jpg/100px-SnowyandHazy.jpg" width="100" height="150" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/67/SnowyandHazy.jpg/150px-SnowyandHazy.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/67/SnowyandHazy.jpg/200px-SnowyandHazy.jpg 2x" data-file-width="499" data-file-height="750" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Peterbald" title="Peterbald">Peterbald</a></td>
<td>Russia</td>
<td>Crossbreed</td>
<td>Stocky</td>
<td>Hairless</td>
<td>All</td>
<td><a href="/wiki/File:Tamila_the_lilac_tabby_Peterbald_cat.jpg" class="image"><img alt="Tamila the lilac tabby Peterbald cat.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Tamila_the_lilac_tabby_Peterbald_cat.jpg/100px-Tamila_the_lilac_tabby_Peterbald_cat.jpg" width="100" height="100" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Tamila_the_lilac_tabby_Peterbald_cat.jpg/150px-Tamila_the_lilac_tabby_Peterbald_cat.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Tamila_the_lilac_tabby_Peterbald_cat.jpg/200px-Tamila_the_lilac_tabby_Peterbald_cat.jpg 2x" data-file-width="250" data-file-height="250" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Pixie-bob" title="Pixie-bob">Pixie-bob</a></td>
<td>United States</td>
<td>Natural</td>
<td></td>
<td>Short</td>
<td>Spotted</td>
<td><a href="/wiki/File:Jarnac_Bepacific_feb07.jpg" class="image"><img alt="Jarnac Bepacific feb07.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Jarnac_Bepacific_feb07.jpg/100px-Jarnac_Bepacific_feb07.jpg" width="100" height="75" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Jarnac_Bepacific_feb07.jpg/150px-Jarnac_Bepacific_feb07.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Jarnac_Bepacific_feb07.jpg/200px-Jarnac_Bepacific_feb07.jpg 2x" data-file-width="640" data-file-height="480" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Raas_cat" title="Raas cat">Raas</a></td>
<td>Indonesia</td>
<td>Natural</td>
<td></td>
<td>Short</td>
<td></td>
<td></td>
</tr>
<tr>
<td><a href="/wiki/Ragamuffin_cat" title="Ragamuffin cat">Ragamuffin</a></td>
<td>United States</td>
<td>Crossbreed</td>
<td>Cobby</td>
<td>Long</td>
<td>All</td>
<td><a href="/wiki/File:20050922AmarilloRes.jpg" class="image"><img alt="20050922AmarilloRes.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f3/20050922AmarilloRes.jpg/100px-20050922AmarilloRes.jpg" width="100" height="119" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f3/20050922AmarilloRes.jpg/150px-20050922AmarilloRes.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f3/20050922AmarilloRes.jpg/200px-20050922AmarilloRes.jpg 2x" data-file-width="632" data-file-height="752" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Ragdoll" title="Ragdoll">Ragdoll</a></td>
<td>United States</td>
<td>Crossbreed</td>
<td>Cobby</td>
<td>Long</td>
<td>Colorpoint/Mitted/Bicolor</td>
<td><a href="/wiki/File:Ragdoll_from_Gatil_Ragbelas.jpg" class="image"><img alt="Ragdoll from Gatil Ragbelas.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/64/Ragdoll_from_Gatil_Ragbelas.jpg/100px-Ragdoll_from_Gatil_Ragbelas.jpg" width="100" height="95" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/64/Ragdoll_from_Gatil_Ragbelas.jpg/150px-Ragdoll_from_Gatil_Ragbelas.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/64/Ragdoll_from_Gatil_Ragbelas.jpg/200px-Ragdoll_from_Gatil_Ragbelas.jpg 2x" data-file-width="921" data-file-height="872" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Russian_Blue" title="Russian Blue">Russian Blue</a></td>
<td>Russia</td>
<td>Natural</td>
<td></td>
<td>Short</td>
<td>Solid</td>
<td><a href="/wiki/File:Russian_Blue_001.gif" class="image"><img alt="Russian Blue 001.gif" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Russian_Blue_001.gif/100px-Russian_Blue_001.gif" width="100" height="144" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Russian_Blue_001.gif/150px-Russian_Blue_001.gif 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Russian_Blue_001.gif/200px-Russian_Blue_001.gif 2x" data-file-width="300" data-file-height="433" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Russian_White,_Black_and_Tabby" title="Russian White, Black and Tabby">Russian White, Black and Tabby</a></td>
<td>Australia</td>
<td>Crossbreed</td>
<td></td>
<td>Short</td>
<td></td>
<td></td>
</tr>
<tr>
<td><a href="/wiki/Sam_Sawet" title="Sam Sawet">Sam Sawet</a></td>
<td>Thailand</td>
<td>Natural</td>
<td></td>
<td>Short</td>
<td>Solid</td>
<td></td>
</tr>
<tr>
<td><a href="/wiki/Savannah_cat" title="Savannah cat">Savannah</a></td>
<td>United States</td>
<td>Hybrid</td>
<td></td>
<td>Short</td>
<td>Spotted</td>
<td><a href="/wiki/File:Savannah_Cat_portrait.jpg" class="image"><img alt="Savannah Cat portrait.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Savannah_Cat_portrait.jpg/100px-Savannah_Cat_portrait.jpg" width="100" height="150" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Savannah_Cat_portrait.jpg/150px-Savannah_Cat_portrait.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Savannah_Cat_portrait.jpg/200px-Savannah_Cat_portrait.jpg 2x" data-file-width="1440" data-file-height="2160" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Scottish_Fold" title="Scottish Fold">Scottish Fold</a></td>
<td>United Kingdom (Scotland)</td>
<td>Natural/Mutation</td>
<td>Cobby</td>
<td>Short/Long</td>
<td>All</td>
<td><a href="/wiki/File:Lilac_Scottish_Fold.jpg" class="image" title="Lilac-coated Scottish Fold"><img alt="Lilac-coated Scottish Fold" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/83/Lilac_Scottish_Fold.jpg/100px-Lilac_Scottish_Fold.jpg" width="100" height="75" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/83/Lilac_Scottish_Fold.jpg/150px-Lilac_Scottish_Fold.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/83/Lilac_Scottish_Fold.jpg/200px-Lilac_Scottish_Fold.jpg 2x" data-file-width="1024" data-file-height="768" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Selkirk_Rex" title="Selkirk Rex">Selkirk Rex</a></td>
<td>United States</td>
<td>Mutation/Cross</td>
<td></td>
<td>Rex (Short/Long)</td>
<td>All</td>
<td><a href="/wiki/File:PolloSelkirkRex.jpg" class="image"><img alt="PolloSelkirkRex.jpg" src="//upload.wikimedia.org/wikipedia/en/thumb/c/c3/PolloSelkirkRex.jpg/100px-PolloSelkirkRex.jpg" width="100" height="133" srcset="//upload.wikimedia.org/wikipedia/en/thumb/c/c3/PolloSelkirkRex.jpg/150px-PolloSelkirkRex.jpg 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/c/c3/PolloSelkirkRex.jpg/200px-PolloSelkirkRex.jpg 2x" data-file-width="453" data-file-height="604" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Serengeti_cat" title="Serengeti cat">Serengeti</a></td>
<td>United States</td>
<td>Hybrid Crossbreed</td>
<td></td>
<td>Short</td>
<td>Spotted</td>
<td><a href="/wiki/File:Serengetimalecat.jpg" class="image"><img alt="Serengetimalecat.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Serengetimalecat.jpg/100px-Serengetimalecat.jpg" width="100" height="78" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Serengetimalecat.jpg/150px-Serengetimalecat.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Serengetimalecat.jpg/200px-Serengetimalecat.jpg 2x" data-file-width="1157" data-file-height="900" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Serrade_petit_cat" title="Serrade petit cat">Serrade petit</a></td>
<td>France</td>
<td>Natural</td>
<td></td>
<td>Short</td>
<td></td>
<td><a href="/wiki/File:Serrade_petit.jpg" class="image" title="mini-cat Serrade petit.jpg"><img alt="mini-cat Serrade petit.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Serrade_petit.jpg/100px-Serrade_petit.jpg" width="100" height="90" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Serrade_petit.jpg/150px-Serrade_petit.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Serrade_petit.jpg/200px-Serrade_petit.jpg 2x" data-file-width="510" data-file-height="460" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Siamese_cat" title="Siamese cat">Siamese</a></td>
<td>Thailand</td>
<td>Natural</td>
<td>Oriental</td>
<td>Short</td>
<td>Colorpoint</td>
<td><a href="/wiki/File:Siam_lilacpoint.jpg" class="image"><img alt="Siam lilacpoint.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/25/Siam_lilacpoint.jpg/100px-Siam_lilacpoint.jpg" width="100" height="102" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/25/Siam_lilacpoint.jpg/150px-Siam_lilacpoint.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/25/Siam_lilacpoint.jpg/200px-Siam_lilacpoint.jpg 2x" data-file-width="982" data-file-height="1000" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Siberian_cat" title="Siberian cat">Siberian</a></td>
<td>Russia</td>
<td>Natural</td>
<td>Semi-Cobby</td>
<td>Semi-long</td>
<td>All</td>
<td><a href="/wiki/File:Siberiancat.jpg" class="image"><img alt="Siberiancat.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/42/Siberiancat.jpg/100px-Siberiancat.jpg" width="100" height="80" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/42/Siberiancat.jpg/150px-Siberiancat.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/42/Siberiancat.jpg/200px-Siberiancat.jpg 2x" data-file-width="294" data-file-height="234" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Singapura_cat" title="Singapura cat">Singapura</a></td>
<td>Singapore</td>
<td>Natural</td>
<td></td>
<td>Short</td>
<td>Ticked</td>
<td><a href="/wiki/File:Raffles_singapura_cat.jpg" class="image"><img alt="Raffles singapura cat.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/da/Raffles_singapura_cat.jpg/100px-Raffles_singapura_cat.jpg" width="100" height="133" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/da/Raffles_singapura_cat.jpg/150px-Raffles_singapura_cat.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/da/Raffles_singapura_cat.jpg/200px-Raffles_singapura_cat.jpg 2x" data-file-width="1536" data-file-height="2048" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Snowshoe_cat" title="Snowshoe cat">Snowshoe</a></td>
<td>United States</td>
<td>Crossbreed</td>
<td></td>
<td>Short</td>
<td>Colorpoint</td>
<td><a href="/wiki/File:Snowshoe_(cat).JPG" class="image"><img alt="Snowshoe (cat).JPG" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4b/Snowshoe_%28cat%29.JPG/100px-Snowshoe_%28cat%29.JPG" width="100" height="75" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/4b/Snowshoe_%28cat%29.JPG/150px-Snowshoe_%28cat%29.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/4b/Snowshoe_%28cat%29.JPG/200px-Snowshoe_%28cat%29.JPG 2x" data-file-width="2592" data-file-height="1944" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Sokoke" title="Sokoke">Sokoke</a></td>
<td>Kenya</td>
<td>Natural</td>
<td></td>
<td>Short</td>
<td>Classic tabby with ticking</td>
<td><a href="/wiki/File:Sokoke_dalili.jpg" class="image"><img alt="Sokoke dalili.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/94/Sokoke_dalili.jpg/100px-Sokoke_dalili.jpg" width="100" height="75" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/94/Sokoke_dalili.jpg/150px-Sokoke_dalili.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/94/Sokoke_dalili.jpg/200px-Sokoke_dalili.jpg 2x" data-file-width="2288" data-file-height="1712" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Somali_cat" title="Somali cat">Somali</a></td>
<td>Somalia</td>
<td>Mutation</td>
<td></td>
<td>Long</td>
<td>Ticked</td>
<td><a href="/wiki/File:Blue_Somali_kitten_age_3_months.jpg" class="image"><img alt="Blue Somali kitten age 3 months.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Blue_Somali_kitten_age_3_months.jpg/100px-Blue_Somali_kitten_age_3_months.jpg" width="100" height="75" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Blue_Somali_kitten_age_3_months.jpg/150px-Blue_Somali_kitten_age_3_months.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Blue_Somali_kitten_age_3_months.jpg/200px-Blue_Somali_kitten_age_3_months.jpg 2x" data-file-width="1600" data-file-height="1200" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Sphynx_cat" title="Sphynx cat">Sphynx</a></td>
<td>Canada</td>
<td>Mutation</td>
<td>Stocky</td>
<td>Hairless</td>
<td>All</td>
<td><a href="/wiki/File:Sphinx2_July_2006.jpg" class="image"><img alt="Sphinx2 July 2006.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Sphinx2_July_2006.jpg/100px-Sphinx2_July_2006.jpg" width="100" height="133" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Sphinx2_July_2006.jpg/150px-Sphinx2_July_2006.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Sphinx2_July_2006.jpg/200px-Sphinx2_July_2006.jpg 2x" data-file-width="1704" data-file-height="2272" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Suphalak" title="Suphalak">Suphalak</a></td>
<td>Thailand</td>
<td>Natural</td>
<td></td>
<td>Short</td>
<td>Solid</td>
<td><a href="/wiki/File:Suphalak_Female_in_Thailand_named_AumDaengManee.jpg" class="image"><img alt="Suphalak Female in Thailand named AumDaengManee.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/52/Suphalak_Female_in_Thailand_named_AumDaengManee.jpg/100px-Suphalak_Female_in_Thailand_named_AumDaengManee.jpg" width="100" height="150" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/52/Suphalak_Female_in_Thailand_named_AumDaengManee.jpg/150px-Suphalak_Female_in_Thailand_named_AumDaengManee.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/52/Suphalak_Female_in_Thailand_named_AumDaengManee.jpg/200px-Suphalak_Female_in_Thailand_named_AumDaengManee.jpg 2x" data-file-width="2848" data-file-height="4272" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Thai_cat" title="Thai cat">Thai</a></td>
<td>Thailand</td>
<td>Natural</td>
<td></td>
<td>Short</td>
<td>Colorpoint</td>
<td><a href="/wiki/File:Mimbi3.JPG" class="image"><img alt="Mimbi3.JPG" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/57/Mimbi3.JPG/100px-Mimbi3.JPG" width="100" height="75" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/57/Mimbi3.JPG/150px-Mimbi3.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/57/Mimbi3.JPG/200px-Mimbi3.JPG 2x" data-file-width="430" data-file-height="323" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Thai_Lilac" class="mw-redirect" title="Thai Lilac">Thai Lilac</a></td>
<td>Thailand</td>
<td>Natural</td>
<td></td>
<td>Short</td>
<td>Solid</td>
<td><a href="/wiki/File:Thai_Lilac.jpg" class="image"><img alt="Thai Lilac.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/45/Thai_Lilac.jpg/100px-Thai_Lilac.jpg" width="100" height="75" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/45/Thai_Lilac.jpg/150px-Thai_Lilac.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/45/Thai_Lilac.jpg/200px-Thai_Lilac.jpg 2x" data-file-width="800" data-file-height="600" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Tonkinese_cat" title="Tonkinese cat">Tonkinese</a></td>
<td>Canada</td>
<td>Crossbreed</td>
<td></td>
<td>Short</td>
<td>Colorpoint/Mink/Solid</td>
<td><a href="/wiki/File:Tonkinese.gif" class="image"><img alt="Tonkinese.gif" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/81/Tonkinese.gif/100px-Tonkinese.gif" width="100" height="79" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/81/Tonkinese.gif/150px-Tonkinese.gif 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/81/Tonkinese.gif/200px-Tonkinese.gif 2x" data-file-width="250" data-file-height="198" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Toyger" title="Toyger">Toyger</a></td>
<td>United States</td>
<td>Crossbreed</td>
<td>Moderate</td>
<td>Short</td>
<td>Mackerel</td>
<td><a href="/wiki/File:Toyger_-_Cornish_Rex_presentation_show_Riihim%C3%A4ki_2008-11-16_IMG_0101.JPG" class="image"><img alt="Toyger - Cornish Rex presentation show Riihimäki 2008-11-16 IMG 0101.JPG" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Toyger_-_Cornish_Rex_presentation_show_Riihim%C3%A4ki_2008-11-16_IMG_0101.JPG/100px-Toyger_-_Cornish_Rex_presentation_show_Riihim%C3%A4ki_2008-11-16_IMG_0101.JPG" width="100" height="93" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Toyger_-_Cornish_Rex_presentation_show_Riihim%C3%A4ki_2008-11-16_IMG_0101.JPG/150px-Toyger_-_Cornish_Rex_presentation_show_Riihim%C3%A4ki_2008-11-16_IMG_0101.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Toyger_-_Cornish_Rex_presentation_show_Riihim%C3%A4ki_2008-11-16_IMG_0101.JPG/200px-Toyger_-_Cornish_Rex_presentation_show_Riihim%C3%A4ki_2008-11-16_IMG_0101.JPG 2x" data-file-width="885" data-file-height="819" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Turkish_Angora" title="Turkish Angora">Turkish Angora</a></td>
<td>Turkey</td>
<td>Natural</td>
<td></td>
<td>Semi-long</td>
<td>All but colorpoint</td>
<td><a href="/wiki/File:Turkse_angora.jpg" class="image"><img alt="Turkse angora.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Turkse_angora.jpg/100px-Turkse_angora.jpg" width="100" height="118" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Turkse_angora.jpg/150px-Turkse_angora.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Turkse_angora.jpg/200px-Turkse_angora.jpg 2x" data-file-width="1668" data-file-height="1971" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Turkish_Van" title="Turkish Van">Turkish Van</a></td>
<td>developed in the<br />
United Kingdom<br />
(founding stock<br />
from Turkey)</td>
<td>Natural</td>
<td></td>
<td>Semi-long</td>
<td>Van</td>
<td><a href="/wiki/File:Turkish_Van_Example2.jpg" class="image"><img alt="Turkish Van Example2.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/11/Turkish_Van_Example2.jpg/100px-Turkish_Van_Example2.jpg" width="100" height="85" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/11/Turkish_Van_Example2.jpg/150px-Turkish_Van_Example2.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/11/Turkish_Van_Example2.jpg/200px-Turkish_Van_Example2.jpg 2x" data-file-width="556" data-file-height="470" /></a></td>
</tr>
<tr>
<td><a href="/wiki/Ukrainian_Levkoy" title="Ukrainian Levkoy">Ukrainian Levkoy</a></td>
<td>Ukraine</td>
<td></td>
<td></td>
<td>Hairless</td>
<td></td>
<td><a href="/wiki/File:Ukrainian_Levkoy_cat.jpg" class="image"><img alt="Ukrainian Levkoy cat.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/92/Ukrainian_Levkoy_cat.jpg/100px-Ukrainian_Levkoy_cat.jpg" width="100" height="95" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/92/Ukrainian_Levkoy_cat.jpg/150px-Ukrainian_Levkoy_cat.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/92/Ukrainian_Levkoy_cat.jpg/200px-Ukrainian_Levkoy_cat.jpg 2x" data-file-width="600" data-file-height="570" /></a></td>
</tr>
<tr class="sortbottom">
<td>York Chocolate</td>
<td>United States (New York)</td>
<td>Natural</td>
<td></td>
<td>Long</td>
<td>Solid</td>
<td></td>
</tr>