body {
    font-family: sans-serif;
    background: #FFFDDD;
    margin: 0;
    padding-bottom: 60px;
}

.page {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100%;
    position: relative;
}

header {
    height: 3em;
    background-color: #FFF41A;
}

.logo{
    height: 2em;
    vertical-align: middle
}

.avatar-thumbnail{
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    vertical-align: middle;
}

.search-thumbnail{
    height: 5em;
    width: 5em;
    border-radius: 50%;
    vertical-align: middle;
}

.comment-thumbnail{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    vertical-align: middle;
}

.user-search{
    display: inline-block;
    padding: 0.5em 0 0.5em 0.5em;
    text-decoration: none;
    color: black;
    height: 5em;
    width: 20em;
}
#messages-friendslist {
    margin-top: 0.5em;
    padding-left: 2em;
    float:left;
    width:45%;
}

#active{
    background: #FFF41A;
}

.user-search:hover {
    background: #FFF41A;
}

.menu-bar {
    height: 3em;
    display: flex;
}

.menu-items {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.menu-item {
    color: black;
    text-decoration: none;
    align-content: right;
    height: 3em;
    line-height: 3em;
    padding: 0 1em 0 1em;
    text-align: center;
}

.menu-item:hover {
    background-color: #fffcb8;
}

.title {
    align-content: left;
}

.error-message {
    color: red;
    margin: 0 auto;
    width: 60%;
}

.info-message {
    color: green;
    margin: 0 auto;
    width: 60%;
}

.big-image
{
    width: 200px;
    height: 200px;
}
.search {
    background: #fffcb8;
}

.search_btn {
	width : 2.5em;
	height :100%;
	border : none;
	color : transparent;
    vertical-align: middle;
    padding-left: 0.5em;
}

.search_bar {
    vertical-align: top;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background: #fffcb8;

}

.search_bar:focus {
    outline: none;
}

.new-publication {
    background-color: #e6e4cf;
    padding: 1em;
}

.new-publication dd {
    margin: 0;
}

.new-publication textarea {
    width: 100%;
    margin-bottom: 1em;
}
.privacy-select {
    display: inline;
}

.button {
    background: #a6a39d;
    border: 0;
    padding: 0.5em 1em 0.5em 1em;
    font-weight: bold;
}

.button:hover {
    background: #fffbf2;
}

.publish-button {
    float: right;
    font-size: large;
}

.add-entry input {
    margin-top: 1em;
}

.new-password dd, .new-password dt {
    display: inline-block;
}

.new-password .button {
    display: block;
    margin-top: 1em;
}

.publication{
    text-align: justify;
    background: #fffcb8;
    margin-bottom: 2em;
    padding: 1em;
}
.publication-liked {
    color: red;
}

.publication-not-liked {
    color: green;
}

.publication-info {
    float: right;
}

.publication-content{
    padding: 0.5em;
    border-bottom: 0.5px solid #b3b3b3;
}

.publication-meta {
    border-bottom: 0.5px solid #b3b3b3;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

.hashtags{
    margin-top: 1em;
    padding: 0.5em;
    background-color: #fffcd9;
}

.hashtags p {
    margin-top: 0;
}

.commentaires {
    margin-top: 1em;
}

.commentaire {
    margin-left: 2em;
    margin-bottom: 1em;
    background: #edeabb;
    padding: 0.5em;
}

.comment-textarea{
    width: 100%;
}

.new-comment {
    margin-left: 2em;
}

.user-info {
    text-decoration: none;
    color: black;
    display: inline-block;
    height: 5em;
    min-width: 15em;
    padding: 0.5em;
}

.commentaire .user-info {
    height: 3em;
    min-width: 10em;
}

.user-info:hover {
    background: #FFF41A;
}

.instant-publication {
    float: right;
    margin:0;
    color: #b3b3b3;

}

.commentaire .instant-publication {
    line-height: 3em;
}

.privacy {
    float: right;
    margin: 0;
    color: #454545;
    padding: 0.1em;
}

.private {
    background-color: #ff9b9c;
}

.public {
    background-color: #8dc7ff
}

.likes{
    display: inline;
    margin-left: 2em;
}

.nb-commentaires {
    display: inline;
    float: right;
    margin: 0;
    margin-right: 2em;
}

.centered-content {
    margin: 0 auto;
    width: 60%;
}

#message-container {
    margin-right: 10%;
    text-align: justify;
}

.message-sortant {
    width: 75%;
    padding: 1em;
    background-color: #fffcb8;
    float: right;
}

.message-entrant {
    width: 75%;
    padding: 1em;
    background-color: #edeabb;
    float: left;
}

#message-sender input {
    float: right;
    width: 75%;
    margin: 1em 10% 3em 0;
}

.messages-timestamp {
    margin-top: 0.5em;
    float: right;
    color: #b3b3b3;
}

footer {
    width: 100%;
    text-align: right;
}
footer p {
    margin-right: 15%;
}

.hashtag-link {

}

.edit-info .button {
    margin-top: 1em;
}

.danger-button {
    background-color: red;
    color: white;
    border: 0;
    padding: 0.5em 1em 0.5em 1em;
    font-weight: bold;
}

.danger-button:hover {
    background-color: black;
}

@media screen and (max-width: 900px) and (min-width: 768px)  {
  .centered-content{
      width: 75%;
  }
}

@media screen and (max-width: 768px) and (min-width: 500px){
  .centered-content{
      width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .centered-content{
      width: 100%;
  }
}