<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>400 - Bad Request</title>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='error-page.css') }}">
</head>
<body>

<h1>Je n'ai pas réussi à comprendre votre requête.</h1>
<img class="half-size" src="https://i2-prod.mirror.co.uk/incoming/article5632612.ece/ALTERNATES/s615b/PAY-Confused-Kitten.jpg">
<h2>Retourner à <a href="{{ url_for('home') }}">l'accueil</a>.</h2>

</body>
</html>