<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>401 - Unauthorized</title>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='error-page.css') }}">
</head>
<body>

<h1>Vous n'avez pas le droit d'accéder à cette ressource.</h1>
<img class="half-size" src="https://d2kwjcq8j5htsz.cloudfront.net/2015/09/16161409/cat-hissing-150916.jpg">
<h2>Retourner à <a href="{{ url_for('home') }}">l'accueil</a>.</h2>

</body>
</html>