<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 - Not Found</title>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='error-page.css') }}">
</head>
<body>

<h1>Oups! Nous n'avons pas trouvé ce que vous cherchez.</h1>
<img class="half-size" src="https://www.hirerush.com/blog/wp-content/uploads/2016/02/56701eb63a408.jpg">
<h2>Retourner à <a href="{{ url_for('home') }}">l'accueil</a>.</h2>

</body>
</html>