<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500 - Internal Server Error</title>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='error-page.css') }}">
</head>
<body>

<h1>Oups! Notre serveur a eu un problème.</h1>
<h2>Ne vous inquiétez pas, nos dévelopeurs travaillent fort pour rétablir la situation.</h2>
<img class="half-size" src="http://www.catphotos.org/wp-content/uploads/2013/02/computer-kittens.jpg">
<h2>Retourner à <a href="{{ url_for('home') }}">l'accueil</a>.</h2>

</body>
</html>