{% extends "layout.html" %}
{% block body %}
    <h1 class="centered-content">Demandes d'amitié en attente ({{users|length}})</h1>
    <div class="centered-content">
        {% if not users %}
        <p>Aucune demande d'amitié en attente.</p>
        {% endif %}
        {% for user in users %}
            <a class="user-search" href="{{ url_for('user_page', user_id=user['id']) }}">
                        <img class="search-thumbnail"
                             src="{{ "http://thecatapi.com/api/images/get?api_key=MjgyMTMzcxisco&format=src&id="+user
                             .id_photo }}" onerror="if (this.src != '/static/default-profile.svg') this.src = '/static/default-profile.svg';">
                        {{ user.nom }}
            </a><br />
        {% endfor %}
    </div>
{% endblock %}
