{% extends "layout.html" %}
{% block body %}

    {% if error %}
        <p class="error-message">Erreur: {{ error }}</p>
    {% else %}
        <div class="centered-content">
            <p>Bienvenue sur Catnet, le réseau social pour chats.</p>
            <a href="http://thecatapi.com">
                <img src="http://thecatapi.com/api/images/get?format=src&type=gif">
            </a>
        </div>
    {% endif %}

    {% if message %}
        <p class="info-message">{{ message }}</p>
    {% endif %}

    <div class=metanav>

        {% if not session.logged_in %}
            <div class="centered-content">
                <form action="{{ url_for('login') }}" method=post class=add-entry>
                    <dl>
                        <dt>Courriel:
                        <dd><input id="email" type=text size=30 name="email">
                        <dt>Mot de passe:
                        <dd><input id="password" type="password" size=30
                                   name="password">
                        <dd><input class="button" id="submit" type=submit value="Se connecter">
                    </dl>
                </form>

                <p>Pas de compte? <a id="register" href="{{ url_for('register') }}">Créer un compte</a>.
                <p>Mot de passe oublié? <a id="home-lost-password" href="{{ url_for('lost_password') }}">Réinitialiser mon mot de passe</a>.
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}
