<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Catnet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='catnet.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='catnet.js') }}"></script>
</head>
<div class="page">
    <header>
        <div class="menu-bar">
            <a class="menu-item title" href="{{ url_for('home') }}" >
                <img class="logo" src="{{ url_for('static', filename='catnet.svg') }}" alt="Kiwi standing on oval">
            </a>
            {% if session.logged_in %}
            <div class="menu-items">
                <a id="logout" class="menu-item" href="{{ url_for('logout') }}">Se déconnecter</a>
                <a id="edit" class="menu-item" href="{{ url_for('user_edit', user_id=session.user['id']) }}">Éditer</a>
                <a id="publications" class="menu-item" href="{{ url_for('publications', user_id=session.user['id'])
                        }}">Publications</a>
                <a id="menu-messages" class="menu-item" href="{{ url_for('messages') }}">Messages</a>
                <a id="menu-messages" class="menu-item" href="{{ url_for('friend_requests') }}">Demandes</a>
                <a id="user-page" class="menu-item" href="{{ url_for('user_page', user_id=session.user['id']) }}">
                    <img class="avatar-thumbnail"
                         src="{{ "http://thecatapi.com/api/images/get?api_key=MjgyMTMzcxisco&format=src&id="+session.user['id_photo'] }}">
                    {{ session.user['nom'] }}
                </a>
                <form class="search" action="{{ url_for('search_user_by_name') }}" method=post>
                    <input class="search_btn" type="image" src="{{ url_for('static', filename='search.svg') }}" alt="submit" name="submit" />
                    <input class="search_bar" type="text" placeholder="Entrez un nom..." name="search_txt">
                </form>
            </div>
            {% endif %}
        </div>
    </header>
    {% block body %}{% endblock %}
    <footer>
        <p>Copyright Équipe 21 - 2018</p>
    </footer>
</div>
</html>