{% extends "layout.html" %}
{% block body %}
    <h1 class="lost-password-title">Nouveau mot de passe envoyé</h1>
    <p class="lost-password-text">Si le courriel que vous avez donnez est dans notre système un nouveau mot de passe vous sera envoyé sous peu.</p>
{% endblock %}