{% extends "layout.html" %}
{% block body %}
<h1 class="lost-password-title">Mot de passe perdu?</h1>
<div class=metanav>
    <div class="centered-content">
        <form class="new-password" action="{{ url_for('send_lost_password_email') }}" method=post>
            <dl>
                <dt>Courriel:
                <dd><input id="email" type=text size=30 name="email">
                <dd><input class="button" id="submit" type=submit value="M'envoyer un mot de passe">
            </dl>
        </form>
    </div>
</div>
{% endblock %}