{% extends "layout.html" %}
{% block body %}
<div id="messages-fullpage" style="width:100%;">
  <div id="messages-friendslist">
      <h1 class="messages-friendlist-title">Amis</h1>
        {% if not friendlist %}
        <p>Vous n'avez aucun ami :'(</p>
        {% endif %}
      {% for key, friend in friendlist.items() %}
            <a class="user-search" href="#" onclick="getMessages({{friend}});addActiveId(event)">
                        <img class="search-thumbnail"
                             src="{{ "http://thecatapi.com/api/images/get?api_key=MjgyMTMzcxisco&format=src&id="+friend['id_photo'] }}"
                        onerror="if (this.src != '/static/default-profile.svg') this.src = '/static/default-profile.svg';">
                        {{ friend['nom'] + " le " + friend['race'] }}
            </a><br />
      {% endfor %}
  </div>
  <div id="messages-halfpage" style="float:right; width:50%;">
      <h1 class="messages-messages-title">Messages</h1>
      <div id="message-container"></div>
      <div id="message-sender"></div>
  </div>
</div>

{% endblock %}
