{% extends "layout.html" %}
{% block body %}
    <p>Bienvenue sur Catnet, le réseau social pour chats.</p>
    <a href="http://thecatapi.com">
        <img src="http://thecatapi.com/api/images/get?format=src&type=gif">
    </a>
{% endblock %}