{% extends "layout.html" %}
{% block body %}

    <p class="error-message"></p>
    <div class="centered-content new-publication">
        <h3>Nouvelle publication </h3>
        <form action="{{ url_for('submit_post') }}" onsubmit="return validatePublication()" method=post class=add-entry>

            <dl>
                <dd><textarea id="contenu" ROWS="5" name="contenu" placeholder="Meow meow meow..."></textarea></dd>
                <dt>Hashtags</dt>
                <dd><textarea id="hashtags" ROWS="1" name="hashtags" placeholder="#hashtag1,#hashtag2,#hashtag3..."></textarea></dd>
                <dd class="privacy-select">Privé<input type="checkbox" size=30 name="niveau_acces" checked></dd>

                <input class="publish-button button" id="submit" type=submit value="Publier">
            </dl>

        </form>

    </div>

    <div class="centered-content">
        <h2>Votre flux:</h2>
    {% for publication in publications %}

        <div id="publication-{{ publication['id_publication'] }}" class="publication">
            <a class="user-info" href="{{ url_for('user_page', user_id=publication['id_auteur']) }}">
                <img class="search-thumbnail"
                     src="{{ "http://thecatapi.com/api/images/get?api_key=MjgyMTMzcxisco&format=src&id="+publication['id_photo'] }}"
                onerror="if (this.src != '/static/default-profile.svg') this.src = '/static/default-profile.svg';">
                {{ publication['nom_auteur'] }}
            </a>
            <div class="publication-info">
                <p class="instant-publication">{{ publication['instant_publication'] }}</p><br>
                {% if publication['niveau_acces'] %}
                    <p class="privacy public">Publique</p>
                {% else %}
                    <p class="privacy private">Privée</p>
                {% endif %}
            </div>

            <p class="publication-content">{{ publication['contenu'] }}</p>
            <div class="publication-meta">
                <p id="{{ publication['id_publication'] }}-likes" class="likes">{{ publication['nombre_aime'] }} like{% if publication['nombre_aime'] != 1 %}s{% else %}{% endif %} </p>
                <p id="{{ publication['id_publication'] }}-comments" class="nb-commentaires"> {{
                        publication['nombre_commentaire'] }} commentaire{% if publication['nombre_commentaire'] != 1 %}s{% else %}{% endif %}</p>
                <div class="hashtags">
                    <p>Hashtags</p>
                    {% if publication['liste_hashtags'] %}
                        {% for hashtag in publication['liste_hashtags'].split(',') %}
                            <a class="hashtag-link" href="{{ url_for('publications_by_hashtag', hashtag=hashtag) }}">{{ hashtag
                                }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% if publication['id_auteur'] == user['id'] %}

            <button class="delete-publication-button button"
            onclick="deletePublication({{ publication['id_publication'] }})">Supprimer</button>

            {% endif %}

                    <button id="{{ publication['id_publication'] }}"
                    class="{% if publication['statut_aime'] %}publication-liked{% else %}publication-not-liked{% endif %} button"
                    onclick="toggle_like({{ publication['id_publication'] }})">
                {% if publication['statut_aime'] %}Je n'aime plus{% else %}J'aime{% endif %}</button>

            <div id="{{ publication['id_publication'] }}-commentaires" class="commentaires">

            {% for commentaire in publication['commentaires'] %}

                <div id="comment-{{ commentaire['instant'] }}" class="commentaire">
                    <a class="user-info" href="{{ url_for('user_page',
                    user_id=commentaire['id_auteur']) }}">
                <img class="comment-thumbnail"
                     src="{{ "http://thecatapi.com/api/images/get?api_key=MjgyMTMzcxisco&format=src&id="+commentaire['id_photo'] }}"
                onerror="if (this.src != '/static/default-profile.svg') this.src = '/static/default-profile.svg';">
                {{ commentaire['nom_auteur'] }}
                </a>
                <p class="instant-publication">{{ commentaire['instant'] }}</p>
                <p>{{ commentaire['contenu'] }}</p>
                {% if commentaire['id_auteur'] == user['id'] %}

            <button class="delete-comment-button button"
            onclick="deleteCommentById({{ publication['id_publication'] }}, '{{ commentaire['instant'] }}')">Supprimer</button>

            {% endif %}

                </div>

            {% endfor %}


            </div>

            <br>
            <div class="new-comment">
                <textarea class="comment-textarea" id="{{ publication['id_publication']}}-commentaire" ROWS="3" COLS="30"
                          placeholder="Meow meow meow..." name="commentaire"></textarea>
                <br>
                <button id="{{ publication['id_publication']}}-submit-commentaire"
                class="comment-button button"
                        onclick="publishComment({{ publication['id_publication'] }})">Commenter</button>
            </div>
        </div>
        <br>
    {% endfor %}
    </div>
    <script>

        var deletePublication = function (id_publication)
        {
            id_publication = id_publication.toString();
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("POST", {{ url_for("delete_publication") }}, true);
            xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlHttp.send("id_publication=" + id_publication);

            var publication = document.getElementById("publication-" + id_publication);
            publication.remove();
        };

        var deleteComment = function (comment_id, id_publication, timestamp)
        {
            var commentCounter = document.getElementById(id_publication + '-comments');
            var commentCount = /\d+/.exec(commentCounter.innerText)[0];
            commentCount--;
            commentCounter.innerText = commentCount.toString() + ' commentaire' + ((commentCount !== 1) ? 's' : '');

            var comment = document.getElementById(comment_id);
            comment.remove();

            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("POST", {{ url_for("delete_comment") }}, true);
            xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

            xmlHttp.send("id_publication=" + id_publication + "&timestamp=" + timestamp);
        };

        var deleteCommentById = function (id_publication, timestamp)
        {
            id_publication = id_publication.toString();
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("POST", {{ url_for("delete_comment") }}, true);
            xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

            xmlHttp.send("id_publication=" + id_publication + "&timestamp=" + timestamp);

            var commentCounter = document.getElementById(id_publication + '-comments');
            var commentCount = /\d+/.exec(commentCounter.innerText)[0];
            commentCount--;
            commentCounter.innerText = commentCount.toString() + ' commentaire' + ((commentCount !== 1) ? 's' : '');

            var comment = document.getElementById("comment-" + timestamp);
            comment.remove();
        };

        var publishComment = function (id_publication) {

            id_publication = id_publication.toString();

            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("POST", {{ url_for("submit_comment") }}, true);
            xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

            var commentTextarea = document.getElementById(id_publication + '-commentaire');
            var commentContent = commentTextarea.value;

            if (commentContent.length === 0)
            {
                alert('Votre commentaire ne peut pas être vide.');
                return false;
            }

            xmlHttp.send("id_publication=" + id_publication + "&contenu=" + commentContent);

            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState === XMLHttpRequest.DONE && xmlHttp.status === 200) {

                    var commentCounter = document.getElementById(id_publication + '-comments');
                    var commentCount = /\d+/.exec(commentCounter.innerText)[0];
                    commentCount++;
                    commentCounter.innerText = commentCount.toString() + ' commentaire' + ((commentCount !== 1) ? 's' : '');

                    commentTextarea.value = '';

                    var comments = document.getElementById(id_publication + '-commentaires');

                    var newComment = document.createElement('div');
                    newComment.setAttribute('class', 'commentaire');

                    var newCommentId = Math.random().toString();

                    newComment.setAttribute('id', newCommentId);

                    var userPhoto = document.createElement('img');
                    userPhoto.setAttribute('class', "comment-thumbnail");
                    userPhoto.setAttribute('href', "{{ url_for('user_page', user_id=user.id) }}");
                    userPhoto.setAttribute('src', "http://thecatapi" +
                        ".com/api/images/get?api_key=MjgyMTMzcxisco&format=src&id=" + "{{ user.id_photo }}");
                    userPhoto.setAttribute('onerror', "if (this.src != '/static/default-profile.svg') this.src = '/static/default-profile.svg';")
                    newComment.appendChild(userPhoto);

                    var userLink = document.createElement('a');
                    userLink.setAttribute('href', "{{ url_for('user_page', user_id=user.id) }}");
                    userLink.innerText = "{{ user.nom }}";
                    newComment.appendChild(userLink);

                    var commentTime = document.createElement('p');
                    var fullTimestamp = new Date().toLocaleString('en-GB');
                    var timestamp = fullTimestamp.replace(',', '');
                    for (var i = 0; i < 2; ++i)
                    {
                        timestamp = timestamp.replace('/', '-');
                    }

                    commentTime.innerText = timestamp;
                    newComment.appendChild(commentTime);

                    var commentText = document.createElement('p');
                    commentText.innerText = commentContent;
                    newComment.appendChild(commentText);

                    var deleteButton = document.createElement('button');
                    deleteButton.innerText = "Supprimer";
                    deleteButton.setAttribute('class', 'delete-comment-button');
                    deleteButton.setAttribute('onclick', 'deleteComment("'+newCommentId+'","'+id_publication+'",' +
                        '"'+timestamp+'")');
                    newComment.appendChild(deleteButton);

                    comments.appendChild(newComment);
                }
            };
        };

        var validatePublication = function () {
            var textArea = document.getElementById("contenu");
            if (textArea.value.length === 0) {
                event.preventDefault();
                var errorMessage = document.getElementsByClassName("error-message")[0];
                errorMessage.innerHTML = 'Votre publication ne peut pas être vide.';
                return false;
            }
            var hashtags = document.getElementById("hashtags").value;
            if (!(/#[a-z]{3,}(,#[a-z]{3,})*/.test(hashtags)) && hashtags.length > 0) {
                event.preventDefault();
                var errorMessage = document.getElementsByClassName("error-message")[0];
                errorMessage.innerHTML = 'Les hashtags doivent débuter par un # et être séparés par des virgules.';
                return false;
            }
        };

        var toggle_like = function (publication_id) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("POST", {{ url_for("toggle_like") }}, true);
            xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

            var button = document.getElementById(publication_id);
            var statutAime = (button.innerHTML === "J'aime") ? "like" : "unlike";
            xmlHttp.send("publication_id=" + publication_id.toString() + "&action=" + statutAime);

            var likeCounter = document.getElementById(publication_id + '-likes');
            var likeCount = /\d+/.exec(likeCounter.innerText)[0];

            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState === XMLHttpRequest.DONE && xmlHttp.status === 200) {
                    var button = document.getElementById(publication_id);
                    var currentHtml = button.innerHTML;
                    if (currentHtml.indexOf("J'aime") !== -1) {
                        button.innerHTML = "Je n'aime plus";
                        button.setAttribute('class', 'publication-liked button');
                        likeCount++;
                    }
                    else {
                        button.innerHTML = "J'aime";
                        button.setAttribute('class', 'publication-not-liked button');
                        likeCount--;
                    }
                }
                likeCounter.innerText = likeCount.toString() + ' like' + ((likeCount !== 1) ? 's' : '');
            };
        };
    </script>

{% endblock %}
