{% extends "layout.html" %}
{% block body %}
    <h1 class="centered-content">Création de compte</h1>
    <div class="metanav centered-content">
        <form action="{{ url_for('add_user') }}" onsubmit="return validateForm()" method=post class=add-entry>

            <p id="error-message" class="error-message"></p>

            <dl>
                <dt>Email</dt>
                <dd><input id="email-field" type=text placeholder="meowmeow@catmail.com" size=30
                           name="email"></dd>

                <dt>Password</dt>
                <dd><input id="password-field" type="password" size=30 name="password"></dd>

                <dt>Name</dt>
                <dd><input id="name-field" type="text" placeholder="Meowmeow" size=30
                           name="name"></dd>

                <dt>Phone number</dt>
                <dd><input id="telephone-field" type="text" placeholder="418 123-4567" size=30
                           name="telephone"></dd>

                <dt>Sex
                <dd>M<input type="radio" name="sex" value="male" checked></dd>
                <dd>F<input type="radio" name="sex" value="female"></dd>

                <dt>Race</dt>
                <dd><select
                        name="race">
                    <option>Abyssinian</option>
                    <option>Aegean</option>
                    <option>Asian</option>
                    <option>Balinese</option>
                    <option>Bambino</option>
                    <option>Bengal</option>
                    <option>Birman</option>
                    <option>Bombay</option>
                    <option>Burmese</option>
                    <option>Burmilla</option>
                    <option>Chartreux</option>
                    <option>Chausie</option>
                    <option>Cheetoh</option>
                    <option>Cyprus</option>
                    <option>Highlander</option>
                    <option>Javanese</option>
                    <option>Korat</option>
                    <option>LaPerm</option>
                    <option>Lykoi</option>
                    <option>Manx</option>
                    <option>Minskin</option>
                    <option>Munchkin</option>
                    <option>Nebelung</option>
                    <option>Napoleon</option>
                    <option>Ocicat</option>
                    <option>Peterbald</option>
                    <option>Raas</option>
                    <option>Ragamuffin</option>
                    <option>Ragdoll</option>
                    <option>Savannah</option>
                    <option>Serengeti</option>
                    <option>Siamese</option>
                    <option>Siberian</option>
                    <option>Singapura</option>
                    <option>Snowshoe</option>
                    <option>Sokoke</option>
                    <option>Somali</option>
                    <option>Sphynx</option>
                    <option>Suphalak</option>
                    <option>Thai</option>
                    <option>Tonkinese</option>
                    <option>Toyger</option>
                </select></dd>

                <dt>Birth date</dt>
                <dd><input id="birth-date-field" type="date" name="date"></dd>

                <dd><input id="submit" type=submit value="Créer mon compte">
            </dl>

        </form>
    </div>

    <script>

/*
        'date': '2017\t0913'
 */

    var validateForm = function () {

        var emailField = document.getElementById('email-field');
        var email = emailField.value;

        if (!/^\w+@\w+\.(com|ca|fr)$/.test(email))
        {
            event.preventDefault();
            var errorMessage = "Email invalide.";
            var errorMessageParagraph = document.getElementById('error-message');
            errorMessageParagraph.innerText = errorMessage;
            return false;
        }

        var nameField = document.getElementById('name-field');
        var name = nameField.value;

        if (!/^[A-Z][a-z]{2,}$/.test(name)) {
            event.preventDefault();
            var errorMessage = "Nom invalide: le nom doit commencer par une majuscule et contenir au moins 3 lettres.";
            var errorMessageParagraph = document.getElementById('error-message');
            errorMessageParagraph.innerText = errorMessage;
            return false;
        }

        var telephoneField = document.getElementById('telephone-field');
        var telephone = telephoneField.value;

        if (!/^\d{3} \d{3}-\d{4}$/.test(telephone))
        {
            event.preventDefault();
            var errorMessage = "Numéro de téléphone invalide.";
            var errorMessageParagraph = document.getElementById('error-message');
            errorMessageParagraph.innerText = errorMessage;
            return false;
        }

        var birthDateString = document.getElementById('birth-date-field').value;
        var birthDate = new Date(birthDateString);

        if (!/^\d{4}-\d{2}-\d{2}$/.test(birthDateString) || birthDate > new Date())
        {
            event.preventDefault();
            var errorMessage = "Date de naissance invalide.";
            var errorMessageParagraph = document.getElementById('error-message');
            errorMessageParagraph.innerText = errorMessage;
            return false;
        }

    };

    </script>

{% endblock %}
