{% extends "layout.html" %}
{% block body %}
    <div class="centered-content">
    {% if closeness == 'user' %}
        <h1>Bienvenue sur votre page personnelle, {{ user.nom }}.</h1>
    {% else %}
        <h1>Bienvenue sur la page de {{ user.nom }}.</h1>
    {% endif %}

    <img class="big-image"
         src={{ "http://thecatapi.com/api/images/get?key=MjgyMTMz&id={}".format(user.id_photo) }}
    onerror="if (this.src != '/static/default-profile.svg') this.src = '/static/default-profile.svg';">

    {% if closeness == 'friend' %}
        <h2>Vous êtes ami avec {{ user.nom }}.</h2>
            <form action="{{ url_for('unfriend') }}" method="post">
                <input style="display:none" type="text" name="src_id" value="{{ visitor.id }}"><br>
                <input style="display:none" type="text" name="dest_id" value="{{ user.id }}"><br>
                <input id="friend-button" type="submit" value="Mettre fin à cette belle amitié"><br>
            </form>
    {% elif closeness == 'stranger' %}
        <h2>Vous n'êtes pas ami avec {{ user.nom }}</h2>
        {% if visitedUserSentRequest %}
            <form action="{{ url_for('accept_friend_request') }}" method="post">
                <input style="display:none" type="text" name="src_id" value="{{ user.id }}"><br>
                <input style="display:none" type="text" name="dest_id" value="{{ visitor.id }}"><br>
                <input id="friend-button" type="submit" value="Accepter la demande d'amitié"><br>
            </form>
        {% elif visitingUserSentRequest %}
            <button id="friend-button" disabled>Demande d'amitié envoyée
            </button>
        {% else %}
            <form action="{{ url_for('send_friend_request') }}" method="post">
                <input style="display:none" type="text" name="src_id" value="{{ visitor.id }}"><br>
                <input style="display:none" type="text" name="dest_id" value="{{ user.id }}"><br>
                <input id="friend-button" type="submit" value="Envoyer une demande d'amitié"><br>
            </form>
        {% endif %}
    {% endif %}

    {% if closeness != 'stranger' %}
        <p>{{ user.nom }} est un{% if user.sexe == 'female' %}e{% endif %} {{ user.race }} de {{ user.age }}
            an{{ '' if user.age == 1 else 's' }} et a {{ user.friend_count }}
            amis.</p>
    {% endif %}

    {% if closeness == 'friend' %}
        <h3>Coordonnées de
            {{ user.nom }}: </h3>
        <p>Téléphone: {{ user.telephone }}</p>
        <p>Email: {{ user.email }}</p>
    {% endif %}


    </div>
{% endblock %}