{% extends "layout.html" %}
{% block body %}
    <h1 class="centered-content">Modification des informations de compte</h1>
    <div class="metanav centered-content">
        <form action="{{ url_for('user_edit', user_id=session.user['id']) }}" onsubmit="return validateForm()"
              method=post class="edit-info">

            {% if message %}
                <p class="info-message">{{ message }}</p>
            {% endif %}

            <p id="error-message" class="error-message"></p>

            <dl>
                <dt>Email</dt>
                <dd><input id="email-field" type=text size=30 name="email"
                           value={{ user.email }}></dd>

                <dt>Numéro de téléphone</dt>
                <dd><input id="telephone-field" type="text" size=30 name="telephone"
                           value="{{ user.telephone }}"></dd>

                <dd><input class=button id="submit" type=submit value="Mettre à jour">
            </dl>

        </form>
    <form onsubmit="return validateDelete()" action="{{ url_for('delete_account') }}" method=post>
    <button id="delete-account-button" class="danger-button" onclick="deleteAccount()">Supprimer mon compte</button>
    </div>

    <script>
    var validateForm = function () {
        var emailField = document.getElementById('email-field');
        var email = emailField.value;

        if (!/^\w+@\w+\.(com|ca|fr)$/.test(email))
        {
            event.preventDefault();
            var errorMessage = "Email invalide.";
            var errorMessageParagraph = document.getElementById('error-message');
            errorMessageParagraph.innerText = errorMessage;
        }

        var telephoneField = document.getElementById('telephone-field');
        var telephone = telephoneField.value;

        if (!/^\d{3} \d{3}-\d{4}$/.test(telephone))
        {
            event.preventDefault();
            var errorMessage = "Numéro de téléphone invalide.";
            var errorMessageParagraph = document.getElementById('error-message');
            errorMessageParagraph.innerText = errorMessage;
        }

    };

    var validateDelete = function () {
        var confirmationMessage = 'Êtes vous sûr de vouloir supprimer votre compte? Cette action est irréparable.';
        var confirmationAnswer = confirm(confirmationMessage);

        if (!confirmationAnswer)
        {
            event.preventDefault();
            alert("Votre compte n'a pas été supprimé.");
            return false;
        }
    };
    </script>
{% endblock %}
